absl-py==0.6.1
astor==0.7.1
backports.weakref==1.0.post1
bleach==1.5.0
boto==2.49.0
boto3==1.9.47
botocore==1.12.47
bz2file==0.98
certifi==2018.10.15
chardet==3.0.4
cycler==0.10.0
docutils==0.14
enum34==1.1.6
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.2.0
gast==0.2.0
gensim==3.6.0
grpcio==1.16.1
h5py==2.8.0
html5lib==0.9999999
idna==2.7
jmespath==0.9.3
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
Markdown==3.0.1
matplotlib==2.0.0
mock==2.0.0
numpy==1.15.4
pbr==5.1.1
Pillow==5.3.0
protobuf==3.6.1
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
requests==2.20.0
s3transfer==0.1.13
scikit-learn==0.20.0
scipy==1.1.0
six==1.11.0
sklearn==0.0
smart-open==1.7.1
subprocess32==3.5.3
tensorboard==1.12.0
tensorflow-gpu==1.12.0
tensorflow-tensorboard==0.4.0
termcolor==1.1.0
tflearn==0.3.2
urllib3==1.24.1
Werkzeug==0.14.1
xgboost==0.80
